.container-main{
	height: 15vh;
	width: 100%;
	background-color:#635949;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
.sociais{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 33%;
	height: 100%;	

	ul{
		list-style: none;
		display: flex;
		flex-direction: column;
	}

	li{
		display: flex;
		align-items: center;
		color:#BFAC8E;
		letter-spacing:1px;
		font-weight:500;
		font-size: 18px;
		padding: 10px;
		cursor: pointer;
		img{
			padding-right: 10px;
		}
		a{
		text-decoration: none;
		}
		a:link {
		color: #BFAC8E;
		}
		  
		a:visited {
		color: #BFAC8E;
		}
		
		a:hover {
		color: #ffffff;
		}
		
		a:active {
		color: #ffffff;
		}
	} 
}

.logo{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 33%;
	height: 100%;

	
.img-logo {
	width: 200px; 
	height: auto;
	vertical-align: middle;
	object-fit: cover;

  }

}

.copy{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 33%;
	height: 100%;
	text-align: center;
	font-weight: 700;
	padding: 20px;
	font-size: 14px;
	color: #333;
}

@media screen and  (max-width: 932px){
	.container-main{
		height: 100%;
		width: 100%;
		background-color:#635949;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
	}
	.sociais{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 33%;
		height: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		
		ul{
			list-style: none;
			display: flex;
			flex-direction: column;
			padding: 0px;
		}
		li{
			display: flex;
			align-items: center;
			color:#BFAC8E;		
			letter-spacing:1px;
			font-weight:500;
			font-size: 1rem;
			padding: 10px 5px;
			cursor: pointer;
			img{
				padding-right: 5px;
			}
			a{
			text-decoration: none;
			}
			a:link {
			color: #BFAC8E;
			}
			  
			a:visited {
			color: #BFAC8E;
			}
			
			a:hover {
			color: #ffffff;
			}
			
			a:active {
			color: #ffffff;
			}
		} 
	}
	
	.logo{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 33%;
		height: 100%;
	
		
	.img-logo {
		width: 150px; 
		height: auto;
		vertical-align: middle;
		object-fit: cover;
	  }
	
	}
	
	.copy{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 33%;
		height: 100%;
		text-align: center;
		font-weight: 700;
		padding: 20px;
		font-size: 14px;
		color: #333;
	}	
}

