<div class="container-main">
	<div class="sociais">
		<ul>
			<li>
				<img src="images/icons/instagram.png" alt="Instagram">
				<a href="https://www.instagram.com/thailine_moura/" target="_blank">Instagram</a>
			</li>
			<li>
				<img src="images/icons/whatsapp.png" alt="WhatsApp">
				<a href="https://www.instagram.com/thailine_moura/" target="_blank">WhatsApp</a>

			</li>
			<li>
				<img src="images/icons/o-email.png" alt="Email">
				<a href="https://www.instagram.com/thailine_moura/" target="_blank">mourathailine</a>

			</li>
		</ul>
	</div>
	<div class="logo">
		<a href="#sobre">
			<img src="/images/thai/logoOFC.png" alt="Logo" class="img-logo">
		</a>	
	</div>
	<div class="copy">
		<span>&copy; 2024 Arq.Thailine Moura. Todos os direitos reservados</span>
	</div>
</div>
