.body {
  height: 9vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
}
nav {
  display: flex;
  align-items: center;
  width: 40%;
  height: 80%;
  justify-content: space-around;
  padding: 8px;
  border-radius: 12px;
  background-color: transparent;
  backdrop-filter: blur(5px);
  box-shadow: 
  0 10px 10px 10px rgba(0, 0, 0, 0.025),
  0 10px 20px 10px rgba(0, 0, 0, 0.05),
  0 10px 30px 10px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  width: 8rem;
  height: auto;
  vertical-align: middle;
}


ul {
  list-style: none;
  display: flex;
}

ul li {
  margin: 0 20px;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 15px;
  transition: 0.5s;
  padding: 4px 8px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li a {
  font-size: 1.2rem;
  font-weight: bold;
  background: linear-gradient(90deg, #2c2c2c, #000000);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient-move {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

ul:hover li a {
  opacity: 0.5;
}

ul li a:hover {
  opacity: 1;
  transform: scale(1.2);
  background: linear-gradient(90deg, #ffffff, #000000);
  animation: gradient-move 5s linear infinite;
}

@media screen and  (max-width: 700px) {
  .body{
    height: 8vh;
  }
  nav {
    width: 100%;
    justify-content: space-evenly;
    text-wrap:wrap;
  }
  .navbar-logo {
    width: 8rem;
  }
  ul {
    padding: 0px;
  }
  ul li {
    margin: 0 5px;
  }
  ul li a {
    letter-spacing: 0px;
    font-size: 1.1rem;
    padding: 2px 4px;
  }
}

@media (min-width: 700px) and (max-width: 1250px){
  nav {
    width: 90%;
    justify-content: space-evenly;
    text-wrap:wrap;
  }
  .navbar-logo {
    width: 9rem;
  }
  ul {
    padding: 0px;
  }
  ul li {
    margin: 0 5px;
  }
  ul li a {
    letter-spacing: 0px;
    font-size: 1.4rem;
    padding: 2px 4px;
  }
}
