.container-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F0ECE5;
}


.home {
  height: 100vh;
  width: 100%;
  padding: 16px ;
  background-color: #F0ECE5;
  .body{
    display: flex;
    flex-direction: row;
    background-image: url("/images/background/salaback.jpg");
    background-size: cover; /* Faz a imagem cobrir toda a área sem distorcer */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 24px;
    box-shadow: -1px 2px 10px 1px rgba(116, 116, 116, 0.815);
  }

  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
      color: white;
      font-weight: 400;
      font-size: 2rem;
      font-style: italic;
      letter-spacing: 1px; 
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.16);
    }
    h1{
      color: white;
      font-weight: 400;
      font-size: 10rem;
      letter-spacing: 1px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
    }
  }

}

.sobre{
  height: 90vh;
  width: 100%;
    background-color: #F0ECE5;
  
  body{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: visible;

    .box-text{
      display: flex;
      align-items: end;
      justify-content: center;
      flex-direction: column;
      width: 50%;
      height: 100%;

      .info{
        height: 70%;
        width: 65%;
        gap: 16px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        // background-color: #EDE8E0;
        padding: 0px 24px;
        border-radius: 12px;
        // box-shadow: 2px 2px 4px 1px rgba(116, 116, 116, 0.274);
        p{
          color: #525252;
          font-weight: 400;
          font-family: "roboto";
          text-align: justify;
          font-size: 1.2rem;
          line-height:35px;
        }
        h1{
          color: #3d3d3d;
          font-weight: 400;
          font-size: 6rem;
          letter-spacing: 0px;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        }
      }

    }
    .box-img{
      display: flex;
      // justify-content: space-around;
      align-items: center;

      width: 60%;
      height: 100%;
      .space{
        display: flex;
        align-items: center;
        width: 80%;
        position: relative;
        height: 70%;
        border-radius: 12px 0px 0px 12px;

        svg {
          filter: 
          drop-shadow(3px 6px 5px rgba(0, 0, 0, 0.199))
          drop-shadow(3px 12px 8px rgba(0, 0, 0, 0.199))
          drop-shadow(3px 24px 10px rgba(0, 0, 0, 0.199));
          
        }

        #clip-shape1{
          position: relative;
          z-index: 1;
        }
        #clip-shape2{
          position: relative;
          z-index: 0;
        }
      }
    }
  }
}

.pin-wrapper {
  position: relative;
}

.servicos{
  background-color: #A1866F; 
  padding:48px 24px;
  height: 80vh;
  width: 100%;
  box-shadow: -1px 2px 10px 1px rgba(116, 116, 116, 0.415);

  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; 

  will-change: transform;

  .box {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap:8px;
    .text{
      display: flex;
      // justify-content: center;
      align-items: center;
      writing-mode: vertical-rl;
      transform: rotate(180deg);

      h1{
        color: white;
        font-size: 5rem;
        letter-spacing: 5px;
        font-weight: 400;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
        font-family: "Roboto";
      }
    }
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* Duas colunas: a primeira ocupa 1 fração, a segunda 3 frações */
      grid-template-rows: repeat(4, 1fr); /* Três linhas de altura igual */
      gap: 1.5rem; /* Espaçamento entre as células da grade */
      height: 100%; /* Altura total da viewport */
      width: 90%;
    }

    .grid,.grid1,.grid2,.grid3,.grid4,.grid5,.grid6{
      border-radius: 1rem;
      box-shadow: 
      0 10px 10px 5px rgba(0, 0, 0, 0.025),
      0 10px 10px 5px rgba(0, 0, 0, 0.1),
      0 10px 10px 5px rgba(0, 0, 0, 0.1);
    }
    
    .grid {
      grid-area: 1 / 1 / 4 / 1;
      .imgColum{
        background-image: url("/images/cards/paper.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1rem; 

        .txt{
          padding: 16px;
          position: relative;
          z-index: 1;
          background-color: transparent;
          backdrop-filter: blur(18px);
          // border-radius: 1rem;
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: rgb(255, 255, 255);  
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          gap: 16px;

          h1{
            color: white;
            font-weight: 400;
            font-size: 2rem;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          }

          p{
            font-size: 20px;
          }
        }
      }
    }

    .grid1{
      grid-area: 4 / 2 / 4 / 5;
      .imgColum{
        background-image: url("/images/cards/banner1.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1rem; 

        .txt{
          padding: 16px;
          position: relative;
          z-index: 1;
          background-color: transparent;
          backdrop-filter: blur(18px);
          // border-radius: 1rem;
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: rgb(255, 255, 255);  
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          gap: 16px;

          h1{
            color: white;
            font-weight: 400;
            font-size: 2rem;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          }

          p{
            font-size: 20px;
          }
        }
      }
    }

    .grid2{
      grid-area: 4 / 1 / 4 / 1;
      .imgColum{
        background-image: url("/images/cards/not.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1rem; 

        .txt{
          padding: 16px;
          position: relative;
          z-index: 1;
          background-color: transparent;
          backdrop-filter: blur(18px);
          // border-radius: 1rem;
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: rgb(255, 255, 255);  
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          gap: 16px;

          h1{
            color: white;
            font-weight: 400;
            font-size: 10px;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          }

          p{
            font-size: 10px;
          }
        }
      }
    }

    .grid3{
      grid-area: 2 / 4 / 4 / 4;
      .imgColum{
        background-image: url("/images/cards/room2.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1rem; 

        .txt{
          padding: 16px;
          position: relative;
          z-index: 1;
          background-color: transparent;
          backdrop-filter: blur(18px);
          // border-radius: 1rem;
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: rgb(255, 255, 255);  
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          gap: 16px;

          h1{
            color: white;
            font-weight: 400;
            font-size: 10px;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          }

          p{
            font-size: 10px;
          }
        }
      }
    }

    .grid4{
      grid-area: 1 / 2 / 1 / 2;
      .imgColum{
        background-image: url("/images/cards/mesacolor.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1rem; 

        .txt{
          padding: 16px;
          position: relative;
          z-index: 1;
          background-color: transparent;
          backdrop-filter: blur(18px);
          // border-radius: 1rem;
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: rgb(255, 255, 255);  
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          gap: 16px;

          h1{
            color: white;
            font-weight: 400;
            font-size: 10px;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          }

          p{
            font-size: 10px;
          }
        }
      }
    }
    
    .grid5{
      grid-area: 2 / 2 / 4 / 4;
      .imgColum{
        background-image: url("/images/cards/room.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1rem; 

        .txt{
          padding: 16px;
          position: relative;
          z-index: 1;
          background-color: transparent;
          backdrop-filter: blur(18px);
          // border-radius: 1rem;
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: rgb(255, 255, 255);  
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          gap: 16px;

          h1{
            color: white;
            font-weight: 400;
            font-size: 10px;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          }

          p{
            font-size: 10px;
          }
        }
      }
    }
    
    .grid6{
      grid-area: 1 / 3 / 1 / 5;
      .imgColum{
        background-image: url("/images/cards/banner2.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1rem; 

        .txt{
          padding: 16px;
          position: relative;
          z-index: 1;
          background-color: transparent;
          backdrop-filter: blur(18px);
          // border-radius: 1rem;
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: rgb(255, 255, 255);  
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          gap: 16px;

          h1{
            color: white;
            font-weight: 400;
            font-size: 10px;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          }

          p{
            font-size: 10px;
          }
        }
      }
    }
    }
}

.projetos{
    background-color: #F0ECE5;
  height: 100%; 
  padding: 24px;
  
  header{
    h1{
      color: #3d3d3d;
      font-weight: 400;
      font-size: 6rem;
      letter-spacing: 0px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
      padding-left: 16px;
    }
  }

  body{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 3.5rem;
    padding: 16px;
    overflow: hidden;
    background-color: #F0ECE5;
    .card{
      background-color: #F0ECE5;
      border-radius: 8px;
      min-height: 700px;
      transition: 1s;
      .boxTxt{
        border-radius: 0 0 8px 8px;
        height: 15%;
        width: 100%;
        color: #3d3d3d;

        h1{
          color: #3d3d3d;
          font-weight: 400;
          font-size: 2rem;
          letter-spacing: 0px;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        }
      }
    }
          
    .one { 
      .boxImg {
        background-image: url("/images/trabalhos/c1.jpg"); 
      }
    }
    .two { 
      .boxImg {
        background-image: url("/images/trabalhos/c2.jpg"); 
      }
    }
    .three { 
      .boxImg {
        background-image: url("/images/trabalhos/c3.jpg"); 
      }
    }
    .four { 
      .boxImg {
        background-image: url("/images/trabalhos/c4.jpg"); 
      }
    }
    .five { 
      .boxImg {
        background-image: url("/images/trabalhos/c5.jpg"); 
      }
    }
    .six { 
      .boxImg {
        background-image: url("/images/trabalhos/c6.jpg"); 
      }
    }
    .seven { 
      .boxImg {
        background-image: url("/images/trabalhos/c7.jpg"); 
      }
    }
    .eight { 
      .boxImg {
        background-image: url("/images/trabalhos/c8.avif"); 
      }
    }
     
    .boxImg{
      border-radius: 8px;
      width: 100%;
      height: 85%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: -1px 2px 10px 1px rgba(0, 0, 0, 0.315);
    }
    // .boxImg:hover{
    //   .card{
    //     transform: scale(1.02);
    //   }
    // }
  }
}

.banner{
  background-color: #F0ECE5;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  header{
    font-size: 1.4rem;
    h1{
      font-weight: 400;
    }
  }
}

.contato{
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;

  .background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/background/back5.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px) brightness(60%);
    z-index: 0;
  }
  .boxImg,.boxTXT {
    position: relative;
    z-index: 1;
  }
  .box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .box-img {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;

      .space{
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        height: 100%;
        border-radius: 12px 0px 0px 12px;

        svg {
          filter: 
          drop-shadow(3px 6px 5px rgba(0, 0, 0, 0.199))
          drop-shadow(3px 12px 8px rgba(0, 0, 0, 0.199))
          drop-shadow(3px 24px 10px rgba(0, 0, 0, 0.199));
          
        }

        #clip-shape1{
          position: relative;
          z-index: 1;
        }
        #clip-shape2{
          position: relative;
          z-index: 0;
        }
      }

    }
  
    .boxTXT {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 4px;

      header{
        font-size: 1.5rem;
        color: white;
      }
      
      form{
        background-color: white;
        width: 60%;
        height: 60%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        border-radius: 12px;
        box-shadow: -1px 2px 10px 1px rgba(0, 0, 0, 0.315);
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        header{
          font-size: 1.4rem;
          color: black;
          display: flex;
          justify-content: center;
          h1{
            font-weight: 400;
          }
        }

        body{
          display: flex;
          flex-direction: column;
          gap: 1rem;
          article{
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding: 4px;

            input{
              border: none;
              border-radius: 4px;
              padding: 0.735rem;
              font-size: 14px;
              background-color: #dfdfdf;
              color: rgb(0, 0, 0);
              transition: 0.2s;
            }

            input:focus {
              outline: none;
              border: none;
              box-shadow: 0 0 0 2px rgba(42, 42, 43, 0.25); /* opcional, para efeito */
            }

            input::placeholder {
              color: #888; /* Cor do texto */
              font-style: italic; /* Estilo de fonte, opcional */
            }
          }
        }

        footer{
          display: flex;
          justify-content: flex-end;
          button{
            border: none;
            border-radius: 2px;
            padding: 0.535rem 1.35rem;
            background-color: #525252;
            color: white;
            font-size: 1rem;
            transition: .2s;
          }

          button:hover{
            transform: scale(1.1);
          }
        }
      }
    }
  }

}

.footer{
  height: 35vh;
  // background-color: blue;
  background-color: #F0ECE5;


  section.thereed-section{
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(468px, 1fr));
        color:#3d3d3d;
        gap: 14px;
        padding-top: 12px;
        .socials{
            display: flex;
            justify-content: center;
            .icons{
                display: flex;
                gap: 16px;
                padding-top: 20px;
                i{
                    color:#3d3d3d;
                    font-size: 2rem;
                    cursor: pointer;
                }
            }
        }
        
        .footerCard{

            h1{
                padding-bottom: 28px;
                font-size: 1.3rem;
            }
            .texts{
                display: flex;
                flex-direction: column;
                gap: 12px;
              
                transition: .2s;
                p{
                  width: fit-content;
                  cursor: pointer;
                  transition: .2s;
                }
              p:hover{
                transform: scale(1.05);
              }
            }


        }
    }
}
}
