.container-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}


.home {
  height: 100vh;
  width: 100%;
  padding: 16px ;
  background-color: #bfac8e1f;
  body{
    display: flex;
    flex-direction: row;
    background-image: url("/images/background/salaback.jpg");
    background-size: cover; /* Faz a imagem cobrir toda a área sem distorcer */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 24px;
    box-shadow: -1px 2px 10px 1px rgba(116, 116, 116, 0.815);
  }

  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
      color: white;
      font-weight: 400;
      font-size: 2rem;
      font-style: italic;
      letter-spacing: 1px; 
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.16);
    }
    h1{
      color: white;
      font-weight: 400;
      font-size: 10rem;
      letter-spacing: 1px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
    }
  }

}

.sobre{
  height: 90vh;
  width: 100%;
  background-color: #bfac8e1f;
  body{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: visible;

    .box-text{
      display: flex;
      align-items: end;
      justify-content: center;
      flex-direction: column;
      width: 50%;
      height: 100%;

      .info{
        height: 70%;
        width: 65%;
        gap: 16px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        // background-color: #EDE8E0;
        padding: 0px 24px;
        border-radius: 12px;
        // box-shadow: 2px 2px 4px 1px rgba(116, 116, 116, 0.274);
        p{
          color: #525252;
          font-weight: 400;
          font-family: "roboto";
          text-align: justify;
          font-size: 1.2rem;
          line-height:35px;
        }
        h1{
          color: #3d3d3d;
          font-weight: 400;
          font-size: 6rem;
          letter-spacing: 0px;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        }
      }

    }
    .box-img{
      display: flex;
      // justify-content: space-around;
      align-items: center;

      width: 60%;
      height: 100%;
      .space{
        display: flex;
        align-items: center;
        width: 80%;
        position: relative;
        height: 70%;
        border-radius: 12px 0px 0px 12px;

        svg {
          filter: 
          drop-shadow(3px 6px 5px rgba(0, 0, 0, 0.199))
          drop-shadow(3px 12px 8px rgba(0, 0, 0, 0.199))
          drop-shadow(3px 24px 10px rgba(0, 0, 0, 0.199));
          
        }

        #clip-shape1{
          position: relative;
          z-index: 1;
        }
        #clip-shape2{
          position: relative;
          z-index: 0;
        }
      }
    }
  }
}

.servicos{
  background-color: #777676; 
  padding:48px 24px;
  display: flex;
  justify-content: center;
  height: 80vh;
  box-shadow: -1px 2px 10px 1px rgba(116, 116, 116, 0.415);
  .box {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap:8px;
    .text{
      display: flex;
      // justify-content: center;
      align-items: center;
      writing-mode: vertical-rl;
      transform: rotate(180deg);

      h1{
        color: white;
        font-size: 5rem;
        letter-spacing: 5px;
        font-weight: 400;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
        font-family: "Roboto";
      }
    }
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* Duas colunas: a primeira ocupa 1 fração, a segunda 3 frações */
      grid-template-rows: repeat(4, 1fr); /* Três linhas de altura igual */
      gap: 1.5rem; /* Espaçamento entre as células da grade */
      height: 100%; /* Altura total da viewport */
      width: 90%;
    }

    .grid,.grid1,.grid2,.grid3,.grid4,.grid5,.grid6{
      border-radius: 1rem;
      box-shadow: 
      0 10px 10px 5px rgba(0, 0, 0, 0.025),
      0 10px 10px 5px rgba(0, 0, 0, 0.1),
      0 10px 10px 5px rgba(0, 0, 0, 0.1);
    }
    
    .grid {
      grid-area: 1 / 1 / 4 / 1;
      .imgColum{
        background-image: url("/images/cards/paper.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1rem; 

        .txt{
          padding: 16px;
          position: relative;
          z-index: 1;
          background-color: transparent;
          backdrop-filter: blur(18px);
          // border-radius: 1rem;
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: rgb(255, 255, 255);  
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          gap: 16px;

          h1{
            color: white;
            font-weight: 400;
            font-size: 2rem;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          }

          p{
            font-size: 20px;
          }
        }
      }
    }

    .grid1{
      grid-area: 4 / 2 / 4 / 5;
      .imgColum{
        background-image: url("/images/cards/banner1.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1rem; 

        .txt{
          padding: 16px;
          position: relative;
          z-index: 1;
          background-color: transparent;
          backdrop-filter: blur(18px);
          // border-radius: 1rem;
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: rgb(255, 255, 255);  
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          gap: 16px;

          h1{
            color: white;
            font-weight: 400;
            font-size: 2rem;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          }

          p{
            font-size: 20px;
          }
        }
      }
    }

    .grid2{
      grid-area: 4 / 1 / 4 / 1;
      .imgColum{
        background-image: url("/images/cards/not.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1rem; 

        .txt{
          padding: 16px;
          position: relative;
          z-index: 1;
          background-color: transparent;
          backdrop-filter: blur(18px);
          // border-radius: 1rem;
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: rgb(255, 255, 255);  
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          gap: 16px;

          h1{
            color: white;
            font-weight: 400;
            font-size: 10px;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          }

          p{
            font-size: 10px;
          }
        }
      }
    }

    .grid3{
      grid-area: 2 / 4 / 4 / 4;
      .imgColum{
        background-image: url("/images/cards/room2.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1rem; 

        .txt{
          padding: 16px;
          position: relative;
          z-index: 1;
          background-color: transparent;
          backdrop-filter: blur(18px);
          // border-radius: 1rem;
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: rgb(255, 255, 255);  
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          gap: 16px;

          h1{
            color: white;
            font-weight: 400;
            font-size: 10px;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          }

          p{
            font-size: 10px;
          }
        }
      }
    }

    .grid4{
      grid-area: 1 / 2 / 1 / 2;
      .imgColum{
        background-image: url("/images/cards/mesacolor.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1rem; 

        .txt{
          padding: 16px;
          position: relative;
          z-index: 1;
          background-color: transparent;
          backdrop-filter: blur(18px);
          // border-radius: 1rem;
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: rgb(255, 255, 255);  
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          gap: 16px;

          h1{
            color: white;
            font-weight: 400;
            font-size: 10px;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          }

          p{
            font-size: 10px;
          }
        }
      }
    }
    
    .grid5{
      grid-area: 2 / 2 / 4 / 4;
      .imgColum{
        background-image: url("/images/cards/room.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1rem; 

        .txt{
          padding: 16px;
          position: relative;
          z-index: 1;
          background-color: transparent;
          backdrop-filter: blur(18px);
          // border-radius: 1rem;
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: rgb(255, 255, 255);  
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          gap: 16px;

          h1{
            color: white;
            font-weight: 400;
            font-size: 10px;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          }

          p{
            font-size: 10px;
          }
        }
      }
    }
    
    .grid6{
      grid-area: 1 / 3 / 1 / 5;
      .imgColum{
        background-image: url("/images/cards/banner2.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1rem; 

        .txt{
          padding: 16px;
          position: relative;
          z-index: 1;
          background-color: transparent;
          backdrop-filter: blur(18px);
          // border-radius: 1rem;
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: rgb(255, 255, 255);  
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          gap: 16px;

          h1{
            color: white;
            font-weight: 400;
            font-size: 10px;
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
          }

          p{
            font-size: 10px;
          }
        }
      }
    }
    }


}

.projetos{
  background-color: #bfac8e1f;
  height: 100%; 
  padding: 24px;
  
  header{
    h1{
      color: #3d3d3d;
      font-weight: 400;
      font-size: 6rem;
      letter-spacing: 0px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
      padding-left: 16px;
    }
  }

  body{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    padding: 16px;
    overflow: hidden;
    .card{
      background: #ccc;
      border-radius: 8px;
      min-height: 550px;
      box-shadow: -1px 2px 10px 1px rgba(0, 0, 0, 0.415);
      transition: 1s;
    }
    .card:hover{
      transform: scale(1.02);
    }
  }
}
