<div class="container-main">
  <div id="home" class="home page">
    <body>
      <header>
        <h2>~Arquiteta~</h2>
        <h1>THAILINE</h1>
      </header>
      <a href="#projetos" class="arrow">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </body>
  </div>

  <div class="sobre">
      <body>
        <div class="box-text">
          <div class="info">
              <h1>Sobre</h1>
              <p>
                Sou <strong>Thailine Moura</strong>, estudante de Arquitetura e Urbanismo no 7º período pela UDF.<br>
                Apaixonada pelo impacto da arquitetura, alio técnica e criatividade para desenvolver soluções inovadoras.<br>
                Tenho experiência com AutoCAD, SketchUp, Revit, Photoshop, V-Ray e Lumion, além de atuação em órgãos públicos e escritórios de arquitetura. 
                Participei de projetos como o Parque Recreativo do Setor O, focando na criação de espaços urbanos que promovem bem-estar. <br><br>
                Busco constantemente aprimoramento e acredito no poder da arquitetura para transformar vidas.
              </p>
          </div>
        </div>
        <div class="box-img">
          <div class="space">
            <svg viewBox="0 0 170 170" xmlns="http://www.w3.org/2000/svg" class="svg-bed">
              <defs>
                <clipPath id="clip-shape">
                  <path fill="#E8DAFF" d="M45.7,-73C56.6,-64.1,61.1,-47,63.2,-31.9C65.4,-16.8,65.3,-3.7,62.5,8.3C59.7,20.4,54.3,31.4,47.3,42.8C40.2,54.2,31.6,66.1,21.5,65.5C11.5,64.8,0.1,51.6,-12.2,46C-24.5,40.4,-37.8,42.3,-48.2,37.7C-58.6,33,-66.1,21.8,-65.3,10.9C-64.5,0,-55.4,-10.5,-47,-18.3C-38.5,-26.1,-30.8,-31,-23.1,-41.4C-15.4,-51.7,-7.7,-67.6,4.8,-75.1C17.4,-82.6,34.8,-81.9,45.7,-73Z" transform="translate(100 100)" />
                </clipPath>
                <clipPath>
                  <path fill="#E8DAFF" d="M38.8,-49.2C51.8,-44.1,64.7,-34.6,68.3,-22.4C71.9,-10.2,66.3,4.7,58.8,16.5C51.4,28.3,42.2,36.9,32.1,49.7C22,62.5,11,79.6,-3.3,84.2C-17.7,88.8,-35.4,80.9,-49.5,69.4C-63.6,57.9,-74.1,42.7,-78.2,26.3C-82.2,10,-79.8,-7.6,-71.2,-19.8C-62.6,-32,-47.9,-38.9,-35,-44C-22.2,-49.2,-11.1,-52.6,0.9,-53.9C12.9,-55.2,25.9,-54.3,38.8,-49.2Z" transform="translate(100 100)" />
                </clipPath>
              </defs>
              <image href="images/thai/thaiimg5.jpg" x="20" y="0" width="170" height="170" clip-path="url(#clip-shape)"/>
            </svg>

          </div>
        </div>
      </body>
  </div>



  <div class="servicos">
    <div class="box">
      <div class="text">
        <h1>
           ARQUITETURA
        </h1>
      </div>
      <div class="container">
        <div class="grid">
          <div class="imgColum">
            <!-- <div class="txt">
                <h1>Aconselhamento<br> Pós-Projeto</h1>
                <p>Nossa parceria não termina na entrega do projeto! Oferecemos suporte e orientação para garantir que cada detalhe seja executado conforme o planejado</p>
            </div> -->
          </div>
        </div>
        <div class="grid1">
          <div class="imgColum">
            <!-- <div class="txt">
              <h1>Do Conceito à Execução</h1>
              <p> Criamos projetos arquitetônicos que unem criatividade e precisão técnica. Cada traço reflete uma visão única, garantindo espaços harmônicos, eficientes e atemporais.</p>
            </div>  -->
          </div>
        </div>
        <div class="grid2"> 
          <div class="imgColum">
            <!-- <div class="txt">
              <h1>Do Conceito à Execução</h1>
              <p> Criamos projetos arquitetônicos que unem criatividade e precisão técnica. Cada traço reflete uma visão única, garantindo espaços harmônicos, eficientes e atemporais.</p>
            </div>  -->
          </div>
        </div>
        <div class="grid3"> 
          <div class="imgColum">
            <!-- <div class="txt">
              <h1>Do Conceito à Execução</h1>
              <p> Criamos projetos arquitetônicos que unem criatividade e precisão técnica. Cada traço reflete uma visão única, garantindo espaços harmônicos, eficientes e atemporais.</p>
            </div>  -->
          </div>
        </div>
        <div class="grid4">
          <div class="imgColum">
            <!-- <div class="txt">
              <h1>Do Conceito à Execução</h1>
              <p> Criamos projetos arquitetônicos que unem criatividade e precisão técnica. Cada traço reflete uma visão única, garantindo espaços harmônicos, eficientes e atemporais.</p>
            </div>  -->
          </div>
        </div>
        <div class="grid5">
          <div class="imgColum">
            <!-- <div class="txt">
              <h1>Do Conceito à Execução</h1>
              <p> Criamos projetos arquitetônicos que unem criatividade e precisão técnica. Cada traço reflete uma visão única, garantindo espaços harmônicos, eficientes e atemporais.</p>
            </div>  -->
          </div>
        </div>
        <div class="grid6">
          <div class="imgColum">
            <!-- <div class="txt">
              <h1>Inovação em cada detalhe</h1>
              <p>Arquitetura corporativa e residencial planejada para aliar estética, funcionalidade e conforto. Transformamos espaços para potencializar a experiência de quem vive e trabalha neles.</p>
            </div>  -->
          </div>
        </div>      
      </div>
    </div>
  </div>

  <div class="projetos">
    <header>
      <h1>Meus projetos</h1>
    </header>

    <body>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
    </body>
  </div>
</div>


<p-toast position="top-right" [baseZIndex]="5000"/>
