.container-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.home {
  height: 100vh;
  width: 100%;
  padding: 16px ;

  body{
    display: flex;
    flex-direction: row;
    background-image: url("/images/background/salaback.jpg");
    background-size: cover; /* Faz a imagem cobrir toda a área sem distorcer */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 24px;
    box-shadow: -1px 2px 10px 1px rgba(116, 116, 116, 0.815);
  }

  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
      color: white;
      font-weight: 400;
      font-size: 2rem;
      font-style: italic;
      letter-spacing: 1px; 
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.16);
    }
    h1{
      color: white;
      font-weight: 400;
      font-size: 10rem;
      letter-spacing: 1px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.36);
    }
  }
 

//     .arrow {
//       position: absolute;
//       bottom: 5px;
//       transform: translate(-50%, -50%);
//       transform: rotate(360deg);
//       cursor: pointer;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       width: 100%;
//     }
  
//   .arrow span {
//       display: block;
//       width: 4.5vw;
//       height: 4.5vw;
//       border-bottom: 10px solid white;
//       border-right: 10px solid white;
//       transform: rotate(90deg);
//       animation: animate 2s infinite;
//       border-radius: 0px 8px 0px 8px;
//   }

//   .arrow span:nth-child(1) {
//     animation-delay: -0.6s;
//     width: 6.5vw;
//     height: 6.5vw;
// }
  
//   .arrow span:nth-child(2) {
//       animation-delay: -0.4s;
//       width: 4.5vw;
//       height: 4.5vw;
//   }
  
//   .arrow span:nth-child(3) {
//       animation-delay: -0.2s;
//       width: 3.5vw;
//       height: 3.5vw; 
//   }
  
//   @keyframes animate {
//       0% {
//           opacity: 1;
//           transform: rotate(45deg) translate(-20px, -20px);
//       }
//       50% {
//           opacity: 0.75;
//       }
//       100% {
//           opacity: 0;
//           transform: rotate(45deg) translate(20px, 20px);
//       }
//   }
}

.sobre{
  height: 90vh;
  width: 100%;
  background-color: #bfac8e1f;
  body{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: visible;

    .box-text{
      display: flex;
      align-items: end;
      justify-content: center;
      flex-direction: column;
      width: 50%;
      height: 100%;

      .info{
        height: 70%;
        width: 65%;
        gap: 16px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        // background-color: #EDE8E0;
        padding: 0px 24px;
        border-radius: 12px;
        // box-shadow: 2px 2px 4px 1px rgba(116, 116, 116, 0.274);
        p{
          color: #525252;
          font-weight: 400;
          font-family: "roboto";
          text-align: justify;
          font-size: 1.2rem;
          line-height:35px;
        }
        h1{
          color: #3d3d3d;
          font-weight: 400;
          font-size: 6rem;
          letter-spacing: 0px;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        }
      }

    }
    .box-img{
      display: flex;
      justify-content: space-around;
      align-items: center;

      width: 60%;
      height: 100%;
      .space{
        display: flex;
        align-items: center;
        width: 80%;
        position: relative;
        height: 70%;
        border-radius: 12px 0px 0px 12px;

        svg {
          filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.199));
        }

        #clip-shape1{
          position: relative;
          z-index: 1;
        }
        #clip-shape2{
          position: relative;
          z-index: 0;
        }
      }
    }
  }
}

.servicos{
  background-color: #bfac8e46;
  padding: 24px;


  .box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    justify-content: center;
    align-items:center;
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-content {
            min-width: 280px;
            min-height: 320px;
            background: #ffffff;
            border-radius: 15px;
            border-radius: 24px;
            transition: transform 0.4s ease-in-out;
        }
        
        .shop-btn {
            background: black;
            color: white;
            border: none;
            min-width: 280px;
            min-height: 59px;
            cursor: pointer;
            border-radius: 4px;
            font-size: 18px;
            font-weight: 500;
            line-height: 150%;
            box-shadow: -1px 2px 10px 1px rgba(116, 116, 116, 0.815);
            transition: transform 0.4s ease-in-out;
        }
    }

    .card-content:hover{
        transform: scale(1.05);
    }

  }
}
